<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="" />
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/javascripts/imagesLoaded.js"></script>
	<script src="/javascripts/masonary.js"></script>
	<script src="/underscore/underscore-min.js"></script>
	<script src="/backbone/backbone.js"></script>
	
</head>